/*.layui-layout-admit .layui-header{
    background-color: #1E9FFF;
    box-sizing: border-box;
    border-bottom: none;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}*/
.layui-title{
    line-height:60px;
    font-size: 32px;
    font-weight: bold;
    color:#fff;
    padding-left: 15px;
}
.layui-title .layui-title-desc{
    font-size: 18px;
    color:#fff;
    padding-left: 10px;
    font-weight: normal;
}